#title{
    background-color: #ff4c68;
    color: #fff;
    font-size: 3rem; 
    line-height: 1.5;
}

body{
    font-family: "Montserrat";
}
/* heading section */
/* h1,h2,h3,h4,h5,h6{ */
    /* font-family: "Montserrat"; */
/* } */
h1 {  
    
    font-size: 3rem; 
    line-height: 1.5; 
    font-weight: bolder;
    
}
h2{
    
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
h3
{
    
    font-weight: bold;
    margin: 10px 20px;
}
p{
    color: gray;
}
.container-fluid{
    padding: 3% 15%;
}
.rotated{
    
     transform: rotate(25deg);
     width: 60%;
     top: 30;
     position: absolute;
     z-index: 0;
     right: 20%;
     
}
/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem 0;
    
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
}
.nav-item a{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.download-btn{
    margin: 5% 3% auto 3%;
}
#title-box{
    /* comment */
    padding-bottom: 100px;
}
/* features */

.feature-box {
    
    text-align: center;
}
#features {
    position: relative;
    z-index: 1;
    padding: 7% 2%;
    
}
.white-section {
    background-color: #fff;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem ;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ff4c68;
    text-align:center;
    padding: 7%;
    
    
}
.testimonial-image{
    border-radius: 100%;
    height: 15%;
    width: 10%;
    margin: 2% 3% ;

}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 20px;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px 20px;
}
.carousel-item{
    padding-top: 30px;
    background-color: #ff4c68;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    text-align: center;
    margin-top: 0px;
    margin-bottom:0px;
}
#pricing {
    padding: 10%;
    text-align: center;
}
.priced{
    padding: 2%;
    

}
/* call to action */
#cta{
    background-color: #ff4c68;
    text-align: center;
}
#footer{
    text-align: center;
}
#footer .fab{
    color: black;
    margin: 10px 5px;
    
}






/* mobile section */
@media (max-width:991px) {
    #title{
        text-align: center;
    }
    .rotated{
        /* -ms-transform: rotate(20deg); IE 9 */
         transform: rotate(0);
         width: 60%;
         top: 30;
         position: static;
         margin-top: 20px;
         
         
         
    }
}